.container {
  margin: 0 auto;
  padding: 20px;
}

h2, h3 {
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btnn{
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table th, .table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #dee2e6;
}

.table th {
  background-color: #f8f9fa;
}